// Google fonts - I've heard that importing the font like this might actually
// affect loading speed because it doesn't load directly from the html document?

@import 'rem-to-px';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap');

// site-wide font styles

$mulish: "Mulish", sans-serif;
$light: 200;
$bold: 700;
$primary-color: #111111;
$highlight-color: #4A4FF2;
$secondary-color: #979797;


body {
    font-family: $mulish;
    font-weight: $light;
    color: $primary-color;
    font-size: rem(16px);
}

a {
    text-decoration: none;
    color: $primary-color;
}

h2, h3, h4, h5, h6 {
    font-family: $mulish;
    font-weight: $bold;
    color: $primary-color;
}

h2 {
    font-size: rem(40px);
}

h3 {
    font-size: rem(28px);
}

h4 {
    font-size: rem(22px);
}

@mixin label_black {
    color: $primary-color;
    font-weight: bold;
}

@mixin label_grey {
    color: $secondary-color;
    font-weight: bold;
}

@mixin bump-up {
    margin-top: 0;
} 

@mixin label_font {
    font-size: rem(18px);
}
