
// Site-wide styles!

@import 'fonts';
@import 'margins';
@import 'rem-to-px';


$borderline-color: #D8D8D8;

@mixin borderline-bottom {
    border-bottom: 2px solid $borderline-color;
}

@mixin borderline-top {
    border-top: 2px solid $borderline-color;
}

// Document-wide formatting

body {
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: min-content;
    background-color: #F2F2F2;

}

.intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;

    &__statement {
        max-width: 59%;
    }

    &__tagline {
        align-self: flex-end;
        font-style: italic;

//I'm guessing I could be making my mixin variable here so I could just do this
//with a different stroke color, but I'm running out of time :(

        &::before {
            border-top: 1px solid #979797;
            content: "";
            display: block;
            height: 100%;
            width: 15%;
            padding-bottom: 3%;
        }
    }
}