

// Header and footer elements are here!
// While the content has stretched so the footer looks okay, I can't get it to
// stick to the bottom of a page without content in the middle. I have tried
// absolute positioning but it breaks my index page (the footer shows up in the
// middle of my grid image gallery) and I'm not sure why.

header, footer {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    min-width: rem(1110px);
}

.nav_wrapper {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
    display: inline;
    font-weight: bold;
    padding-left: 5%;
}

footer {
    padding-top: 10%;
    bottom: 0;
}

.socials {
    text-align: right;
    width: 20%;
}

i {
    padding-left: rem(23px);
}