

// Header and footer elements are here!

header, footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 3%;
    padding-bottom: 3%;
}

.nav_wrapper {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li, {
    display: inline;
    font-weight: bold;
    padding-left: 5%;
}

.socials {
    text-align: right;
    width: 20%;
}

i {
    padding-left: rem(23px);
}