
@import 'fonts';
@import 'main';
@import 'rem-to-px';

.intro__statement {
    padding-right: 15%;
}

.contact_form {
    @include label_font;
    @include label_grey;
    width: 40%;
    flex-shrink: 0;

    .input-field {
        @include borderline-bottom;
        padding-top: 10%;
        padding-bottom: 3%;
    }

    input {
        border: 0;
        background-color: transparent;
    
        &:focus {
            outline: none;
        }
    }

    button {
        background-color: $highlight-color;
        padding: 5% 10% 5% 10%;
        color: #FFF;
        margin-top: 10%;
        cursor: pointer;
        border: 0;
    }
}
