// This sheet corresponds to the index page. For site-wide styles, 
// see main.css!

@import 'main';
@import 'rem-to-px';

// Intro section

.layout_title, .job_title {
    color: $highlight-color;
}

.layout_title {
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding-top: 3%;
    padding-bottom: 3%;

    &__statement { 
        width: 59%; 
    }

    &__tagline {
        width: max-content;
        display: table;
        font-size: rem(18);
        padding-bottom: 3%;
    }
    
    &__tagline::before {
        border-top: 1px solid #888;
        content: "";
        display: block;
        height: 100%;
        width: 15%;
        padding-bottom: 3%;
      }
}

// Gallery grid section

.gallery_grid {
    display: grid;
    grid-template-rows: repeat(32);
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1rem;
    margin: auto;
    min-width: rem(357px);
    min-height: auto;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__zero {
        grid-area: 1 / 1 / 7 / 4;
    }

    &__first {
        grid-area: 7 / 1 / 15 / 4;
    }

    &__second {
        grid-area: 15 / 1 / 23 / 4;
    }

    &__third {
        grid-area: 23 / 1 / 32 / 4; 
    }
    
    &__fourth {
        grid-area: 1 / 4 / 6 / 7;
    }
    
    &__fifth {
        grid-area: 6 / 4 / 13 / 7;
    }

    &__sixth {
        grid-area: 13 / 4 / 22 / 7;
    }

    &__seventh {
        grid-area: 22 / 4 / 32 / 7;
    }
    
    &__eighth {
        grid-area: 1 / 7 / 10 / 10;
    }
 
    &__ninth {
        grid-area: 10 / 7 / 17 / 10;
    }

    &__tenth {
        grid-area: 17 / 7 / 26 / 10;
    }

    &__eleventh {
        grid-area: 26 / 7 / 32 / 10;
    }
}

// Services section

.services {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;

&__description {
    width: 50%;
    }    
    
&__list {
    width: 40%;

    ul {
        list-style-type: none;
        columns: 2;
        padding-left: 3%;
        padding-top: 2%;
        }    

    li {
        padding: 4%;
        }
    }
}

// Award table elements... is it appropriate to do this
// with a table instead of flexbox?

.awards_list {
    border-top: 2px solid #D8D8D8;
}

.awards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #D8D8D8;


&__giver {
    height: 100%;
    }
}

.awards_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow:1;
    max-width: 55%;

.entry {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }

    > * {
        padding-bottom: 5%;
    }
    
    .app_name {
        font-weight: $bold;
    }

    &__project {
        max-width: 20%;
    }

}


