// This sheet corresponds to the index page. For site-wide styles, 
// see main.css!

@import 'fonts';
@import 'rem-to-px';

// Intro section

.layout_title, .job_title {
    color: $highlight-color;
}

.layout_title {
    font-weight: bold;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 3%;
    padding-bottom: 3%;

    &__statement { 
        width: 59%; 
    }

    &__tagline {
        width: max-content;
        display: table;
        font-size: rem(18);
        font-weight: 200;
        font-style: italic;
        padding-bottom: 3%;
    }
    
    &__tagline::before {
        border-top: 1px solid #888;
        content: "";
        display: block;
        height: 100%;
        width: 15%;
        padding-bottom: 3%;
      }
}


// Gallery grid section

.gallery_grid {
    display: grid;
    grid-template-rows: repeat(32);
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1rem;
    margin: auto;
    min-width: rem(357px);
    min-height: auto;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__zero {
        grid-area: 1 / 1 / 7 / 4;
    }

    &__first {
        grid-area: 7 / 1 / 15 / 4;
    }

    &__second {
        grid-area: 15 / 1 / 23 / 4;
    }

    &__third {
        grid-area: 23 / 1 / 32 / 4; 
    }
    
    &__fourth {
        grid-area: 1 / 4 / 6 / 7;
    }
    
    &__fifth {
        grid-area: 6 / 4 / 13 / 7;
    }

    &__sixth {
        grid-area: 13 / 4 / 22 / 7;
    }

    &__seventh {
        grid-area: 22 / 4 / 32 / 7;
    }
    
    &__eighth {
        grid-area: 1 / 7 / 10 / 10;
    }
 
    &__ninth {
        grid-area: 10 / 7 / 17 / 10;
    }

    &__tenth {
        grid-area: 17 / 7 / 26 / 10;
    }

    &__eleventh {
        grid-area: 26 / 7 / 32 / 10;
    }

    

}
