
// Site-wide styles!



@import 'fonts';
@import 'margins';
@import 'rem-to-px';


// Document-wide formatting

* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-width: 90%;
}

