
// Site-wide styles!

@import 'fonts';
@import 'margins';
@import 'rem-to-px';


$borderline-color: #D8D8D8;

@mixin borderline-bottom {
    border-bottom: 2px solid $borderline-color;
}

@mixin borderline-top {
    border-top: 2px solid $borderline-color;
}

// Document-wide formatting

body {
    background-color: #F2F2F2;
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: min-content;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 3%;
    padding-bottom: 3%;

    &__statement { 
        max-width: 59%;
    }

    &__tagline {
        width: max-content;
        font-size: rem(18);
        display: flex;
        align-self: flex-end;
    }
    
    &__tagline::before {
        border-top: 1px solid #888;
        content: "";
        display: block;
        height: 100%;
        width: 15%;
        padding-bottom: 3%;
      }
}