
@import 'main';
@import 'rem-to-px';
@import 'fonts';

h2 {
    @include bump-up;
}

.project_stats {
    display: table;
    width: 25%;
    border-collapse: collapse;

    tr {
        @include borderline-bottom;
        }
    
    td:nth-child(odd) {
        @include label_grey;
    }

    td:nth-child(even) {
        @include label_black;
    }

    td {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.project_showcase {
    width: 100%;
    display: flex;
    justify-content: center;  
    
    &__hero {
        object-fit: cover;
    }
}