
@import 'main';
@import 'rem-to-px';
@import 'fonts';

h2 {
    @include bump-up;
}

.project_stats {
    display: table;
    width: 31%;
    border-collapse: collapse;

    tr {
        @include borderline-bottom;
        }
    
    td:nth-child(odd) {
        @include label_grey;
    }

    td:nth-child(even) {
        @include label_black;
    }

    td {
        padding: 5%;
        padding-left: 0;
    }
}

.project_showcase {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    
    &__hero {
        padding-bottom: 3%;
    }
}